<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>BlockCarbon Tool</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles/style.css') }}"
      />
    </head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>

  <body>
    <header id="header">
      <div class="left-header">
        <div class="logo-container">
          <img
            src="{{ url_for('static', filename='images/BlockCarbon.png') }}"
            alt="BlockCarbon Logo"
            id="logo"
          />
        </div>
        <h1>
          <a href="{{ url_for('index') }}" class="header-link">BlockCarbon</a>
        </h1>
      </div>
      <div class="developer-attribution">
        <span>Developed by Students at UMB</span>
      </div>
    </header>

    <hr class="header-line" />

    <section id="coordinates-input">
      <h2>Upload KML File</h2>

      <form
        action="{{ url_for('upload_kml') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="kml_file" accept=".kml" required />
        <button type="submit">Upload</button>
      </form>
    </section>
  </body>
</html>
